@import url(normalize.min.css);
body {
  background: url(../images/galaxy.jpg) fixed;
}

* {
  transition: 500ms all;
}

.header {
  background-color: #FED136;
}

.page-title {
  color: #000;
  border-bottom: 1px dotted #FED136;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 20px;
}

.page-title small {
  font-size: 16px;
  display: block;
  margin-top: 10px;
  color: #555;
}

.fa-user-secret {
  font-size: 90px;
  float: left;
  margin-right: 10px;
}

.btn-contact {
  padding: 5px 15px;
  float: right;
  font-size: 20px;
  color: #000;
  background: #FED136;
  letter-spacing: 2px;
  font-weight: bold;
  border: 0;
  border-bottom: 5px solid #DEB52A;
}

.btn-contact:hover {
  background: #DEB52A;
  color: #FED136;
  border-bottom: 5px solid #DEB52A;
}

.btn-contact .glyphicon {
  vertical-align: text-bottom;
}

@media screen and (max-width: 600px) {
  .page-title {
    text-align: center;
  }
  .fa-user-secret {
    float: none;
    display: block;
  }
}

.block-title {
  color: #B4EEF2;
  font-size: 30px;
  margin: 2% 0 1%;
}

.history-list {
  color: #fff;
  margin-bottom: 5%;
}

.history-list > span {
  margin: 5px 5px 5px 0;
  display: block;
  font-size: 36px;
  opacity: 0.3;
}

.history-list > span:hover {
  text-shadow: 0 0 20px rgba(254, 209, 54, 0.8), 0 0 20px rgba(254, 209, 54, 0.8);
  color: #FED136;
  opacity: 1;
}

.workitem, .workitem > a {
  color: #fff;
}

.workitem {
  width: 100%;
}

.workitem h3 {
  font-size: 18px;
  margin-top: 10px;
}

.workitem > a:hover {
  text-decoration: none;
}

.workitem p {
  color: #999;
  margin-bottom: 0;
}

.workitem:hover p {
  color: #fff;
}

.workitem:hover h3 {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.cover {
  max-width: 100%;
}

.footer {
  padding: 5% 0;
  text-shadow: 0 1px 1px rgba(254, 255, 255, 0.8);
  font-size: 30px;
  letter-spacing: 2px;
  background: #DEB52A;
  text-align: center;
}

.footer > a {
  color: #000;
  text-decoration: underline;
}
