@import url(normalize.min.css);
@mixin ulclear{list-style:none;padding:0;margin:0}
$w-smaler:max-width;

*{transition: 500ms all;}
body{background:url(../images/galaxy.jpg) fixed;overflow-x:hidden}

// header
.header{
	height:100vh;
	display:flex;  
    align-items: center;  
    justify-content: center;
    overflow: hidden;	        
}
.header::after{
	box-shadow:0 0 100px rgba(0,0,0,.8) inset, 0 0 100px rgba(0,0,0,.8) inset, 0 0 400px rgba(0,0,0,1) inset;
	display:block;
	content:'';
	width:100%;height:100%;
	position:absolute;
	z-index:1;
	@media screen and ($w-smaler:1024px){
		display:none
	}
}
.profile-wrap{
	background-color: rgba(0,0,0,.5);
	width: 350px;
	position: absolute;
	text-align: center;
	z-index: 1;
	opacity:0;margin-top:-200px;
	animation: profile 1s forwards;
	color:#FED136;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border:3px double #FDD036
}
@keyframes profile{
	0% {opacity:0;margin-top:-100px;}
	100% {opacity:1;margin-top:0px;}
}
.history-list-wrap{
	width:100%;height:100vh;		
}
.history-list{
	color:#fff;margin-bottom:5%;display:inline;line-height: 500%;	
	>span{
		margin: 20px 25px;	    
	    font-size: 50px;
	    opacity: 0.3;	   
	}
	>span:hover{
		text-shadow:0 0 20px rgba(254,209,54,.8),0 0 20px rgba(254,209,54,.8);
		color:#FED136;
		opacity:1
	}
}

.profile-title{color:#FED136;padding-bottom: 15px;margin:0;padding-top: 15px;}
.profile-desc{font-size:16px;display:block;margin-top:10px;color:#FDD036}
.profile-desc-self{color:#DAB94A}
.fa-user-secret{font-size:90px;margin-top: 1rem;}
		
.btn-continue{
	border:1px solid #fff;
	text-shadow:0 0 1px rgba(255,255,255,0);
	display:inline-block;
	padding:5px 20px;
	border-radius:20px;
	color:#fff;	
	position:absolute;bottom:5%;z-index:2;
	&:hover, &:active, &:focus{
		opacity:.8;
		text-shadow:0 0 1px rgba(255,255,255,.5);
		box-shadow:0 0 10px rgba(255,255,255,.5);
		color:#fff;
		text-decoration:none
	}
}

@media screen and ($w-smaler:1680px){	
	.history-list{line-height: 400%;}
	.history-list>span{font-size:35px;margin: 10px 15px;}
}	
@media screen and ($w-smaler:1280px){	
	.header, .history-list-wrap{height:auto;}
	.history-list{line-height: 300%;}
	.history-list>span{font-size:30px;margin: 10px 15px;}
	.btn-continue{display:none}
}

@media screen and ($w-smaler:992px){
	.history-list{line-height: 200%;}
	.history-list>span{font-size:35px;margin: 5px 10px;}
	.container{width:100%}
}

@media screen and ($w-smaler:600px)	{	
	.header{display:block}
	.profile-wrap{width:90%;margin:20px auto;position: relative;padding-bottom: 1rem;top:20px}
	.history-list>span{font-size:20px;margin: 5px 10px;}
}

// work

.workitem-title{color:#B4EEF2;font-size:20px;margin: 2% 0 1%;padding-bottom: 10px;}
.workitem, .workitem>a{color:#fff}
.workitem{	
	width:100%;padding: 10% 0;
	h3{
		font-size: 20px;
	    margin-top: 10px;
	    font-weight: bold;
	    color: #fff;
	}
	>a:hover{text-decoration: none;opacity:.9}	
	&:last-child{padding-bottom:100px}
}
.workcon{display:block}
.cover{
	width: 59%;
	height:auto;
	display:inline-block;
	box-shadow:0 26px 40px -24px rgba(0,36,100,.5)
}
.item_desc{
	display:inline-block;
	width:40%;
	padding-left: 30px;
	color:#ccc;
	margin-bottom: 0;
	vertical-align: middle;
}
.dark_theme{
	h3{color:#333}	
	.item_desc{color:#555}
	&:hover p{color:#555}
} 

@media screen and ($w-smaler:1024px){
	.workitem{padding: 15% 0;}
}
@media screen and ($w-smaler:600px)	{	
	.item_desc, .cover{width:100%;padding:0 10px}
	.workitem{padding-bottom:10%}
	.workitem h3{margin-top:30px}
}


.footer{
	padding:20px 0 10px;
	//text-shadow:0 1px 1px rgba(254,255,255,.8);
	// font-size:30px;
	letter-spacing:2px;
	background: rgba(0,0,0,.8);	
	text-align: center;
	font-weight:700;
	line-height:220%;
	>p>a{color:#FDD036;text-decoration:none;border-bottom:1px dotted #FDD036}	
	>p{color:#ccc;}
}

// .btn-contact {
//     padding: 5px 15px;float: right;
//     font-size: 16px;color: #000;
//     background: #FED136;letter-spacing: 2px;
//     font-weight: bold;border:0;border-bottom: 5px solid #DEB52A;
//     &:hover {background: #DEB52A;color: #FED136;border-bottom: 5px solid #DEB52A;}
//     .glyphicon{vertical-align: text-bottom;}
// }	
.contact_fixed{
	position:fixed;bottom:0;width:100%;	
}